$primary-color: #FDFDFD;
$primary-clear-color: #898C98;
$secondary-color: #131C21;
$secondary-clear-color: #20313A;
$contrast-color: #0579D1;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: sans-serif;
}
#App{
    width: 100%;
    min-height: 100vh;
}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 40px);
}

// Mixins
@mixin input-field_title{
    width: 60px;
    font-size: 1.7rem;
    font-weight: 100;
}

@mixin button{
    padding: 3px 10px;
    background-color: $contrast-color;
    border-radius: 5px;
    border: none;
    color: $primary-color;
    font-weight: 600;
}