@import "./globals.scss";

.inputField-container{
    display: flex;
    flex-direction: column;
    height: 30%;
    
    & > div{
        width: 100%;
        height: 25%;
        padding: 0 9px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $primary-clear-color;

        h2{
            @include input-field_title;
        }

        .coordinate-input{
            margin: 0 5px;
            font-size: 1.3rem;
        }
    }

    input{
        width: 45px;
        height: 25px;
        outline-color: $contrast-color;
    }

    &_header{
        justify-content: space-between;

        label{
            @include input-field_title;
        }

        button{
            @include button;
        }
    }
}